body {
	font-family: 'Great Vibes', cursive; /
}
.navbar.bg-dark {
    background-color: #8d3055 !important;
}

.nav-link {
    position: relative;
    transition: color 0.3s;
}

.nav-link:hover {
    color: white;
    background-color: red;
	border-radius: 10px;
}

.nav-link i {
    margin-right: 10px;
}

.navbar-brand.custom-logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.boton {
    background-color: rgba(123, 255, 47, 0.729);
    border-radius: 10px;
	color: white;
}

.btn {
    color: white;
}

@media (max-width: 768px) {
    .boton {
        text-align: center;
        margin: auto;
    }

    .btn {
        margin-right: 0;
        margin-top: 10px;
    }
}
